* {box-sizing: border-box;}
body {font-family: McLaren ; margin: 0; padding: 0;}
 a:hover {color:  white;}
 a {color:#FBC6C6; font-size: 13px}
.i1 {width: 300px; padding: 20px 0 2px 0;}
.i1{transition: transform .2s;}
.i1:hover{transform: scale(2.6);}

img {width: 100%;border: 3px ridge red; border-radius: 16px; margin-top:20px; margin-bottom:20px;}
.i1 {width: 100%; }
.i2 {width: 60%; }





.i2 {width: 100%; }

.i3 {width: 300px;}
.i3 {trantion: transform .2s;}
.i3:her{transform: scale(1.5);}
.i4 {width: 370px;}


.container-main {
	width: 100%; 
    display: flex; 
	background-color:#680606;
    justify-content: center;
    border: 4px black solid; 
    flex-direction: row;
	border: 0px white solid; 
}

.container-left1 {
    display: flex;
    flex-direction: column;
    width: 28%; 
    background-color: transparent;
    margin: 50px 0px 0px 70px;
	font-size: 16px; 
	line-height: 19px;
	color:#680606;
    padding: 0px;
	border: 0px red solid; 
	
}
.left1 {
transform: rotate(-10deg);
}
.left2 {
transform: rotate(15deg);
}
.left3 {
transform: rotate(10deg);
}
.left4 {
transform: rotate(20deg);
}
.left1 {
transform: rotate(-10deg);
}

.container-center {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: transparent;
    margin: 40px 90px 20px 0px;
    padding: 30px 40px 20px 20px;
    font-size: 16px; 
	line-height: 19px;
    border: 0px blue solid;	
}
div .center-4 {
    display: flex;
    flex-direction: row;
	border: 0x brown solid;	
}

div .center-1 {
    display: flex;
    flex-direction: column;
    width: 100%; 
     background-image: url(RE/telko-wstep.jpg);
    margin: 0px 40px 10px 10px;
    padding: 25px 25px 30px 130px;
	font-size: 15px; 
	line-height: 23px; 
	color:#FBC6C6;
	border: 0px yellow solid;	
}
div .center-2 {
    display: flex;
    flex-direction: column;
	width: 48%; 
    background-color: transparent;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 10px 0px;
	font-size: 14px; 
	line-height: 22px; 
	color:#FBC6C6;
	border: 0px black solid;	
	
	
}
div .center-3 {
    display: flex;
    flex-direction: column;
    width: 45%; 
    background-color: transparent;
    margin: 10px 10px 10px 0px;
    padding: 20px 10px 10px 0px;
	font-size: 13px; 
	line-height: 21px; 
	color:#FBC6C6;
	border: 0px white solid;	
	
	
}

div .center-5 {
     display: flex;
    flex-direction: column;
	width: 100%;
    background-image: url(RE/telko-rose.jpg);
    margin: 5px 10px 10px 0px;
    padding: 30px 10px 10px 90px;
	font-size: 14px; 
	line-height: 21px; 
	color:#FBC6C6;
	border: 0px green solid;	
	
	
}
 
